<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redireciona de forma transparente toda requisição na raiz para a pasta public/
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>
