<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Impede a listagem de arquivos
    Options -Indexes
    
    # Redireciona para o Front Controller se a requisição não for um arquivo ou pasta física
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
